/*----------------Custom Scrollbar----------*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  transition: 1.0s;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(127, 127, 127, 0.6);
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: 1.0s;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: rgb(110, 110, 110);
  transition: 0.3s;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical:active,
::-webkit-scrollbar-thumb:horizontal:active {
  background: rgba(95, 91, 91, 1);
}

::-webkit-scrollbar-corner {
  background: none;
}

/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body, html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
    
  }

  /* My logo style */
  .logo {
    font-weight: bold;
    font-size: 2em; 
    background: #FF0000;
    background: linear-gradient(to left, #FF0000 0%, #FFFF00 50%, #FF0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  
  /* navigation buttons on header */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links a {
    color: #fff;
    font-weight: bold;
    font-size: x-large;
    transition: all 0.3s ease;
    text-decoration: none;
    margin-left: 1rem;
    animation: fadeIn 0.5s ease-out, tranform 0.3s ease;
  }

  .nav-links a:hover {
    color: #0bfb1b;
    transform: transformY(-10px);
    transition: all 0.3s ease;
  }
  
  /* Main content styles */
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  section {
    margin-bottom: 3rem;
    background-color: rgba(255, 255, 255, 0); /* Adjust transparency as needed */
    padding: 20px;
    border-radius: 10px; /* Keep rounded corners for a softer look */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Optional: adds a shadow for depth */
    margin-bottom: 2rem; /* Ensure spacing between sections */
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
  
  .project {
    background-color: rgba(255, 255, 255, 0); /* Adjust transparency as needed */
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  
  /* Form styles */
  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
  
  input,
  textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
  
  button, .project-expand {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px; /* Add rounded corners */
    animation: fadeIn 0.5s ease-out;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    width: 100%;
  }
  
  .social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5rem;
    transition: color 0.3s ease;
  }

  .social-links a:hover {
    color: #007bff; 
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-links {
      margin-top: 1rem;
    }
  
    .nav-links a {
      display: block;
      margin-left: 0;
      margin-bottom: 0.5rem;
    }
  }

  /* Animation for links */
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .nav-links a, .social-links a, button {
    animation: fadeIn 0.5s ease-out;
  }
  
  /* Expandable button styles */
  .project-expand {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); /* Adjust number of columns based on available width */
    grid-gap: 20px; /* Space between items */
    align-items: start; /* Align items at the start of their container */
    background-color: #007bff65;
    color: white;
    padding: 20px 40px; 
    width: auto; 
    max-width: 100%; 
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.4s ease, transform 0.4s ease;
    border-radius: 20px;
    font-size: 1.25rem;
    box-sizing: border-box;
  }
  
  
  .project-expand:hover, .project-expand:focus, button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Scale button on hover */
    transition: background-color 0.4s ease, transform 0.4s ease;
  }
  
  .project-content {
    padding: 20px;
    display: none;
    overflow: hidden;
    background-color: #2523237a;
    border-radius: 20px; /* Add rounded corners */
    animation: fadeIn 0.5s ease-out;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  h2 {
    font-size: 4.5rem;
    font-weight: bolder;
    /*text-shadow: 2px 2px 4px rgba(0,0,0,0.5); */
    color: #fff; 
    margin-bottom: 0.5rem;
    background: linear-gradient(90deg, #FFA454 0%, #CAE545 50%, #68FF64 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-size: 1.2rem; /* Slightly larger paragraph text */
    color: #f0f0f0; /* Lighter text color for contrast against the semi-transparent background */
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3); /* Subtle text shadow for depth */
  }

  .social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5rem;
    transition: color 0.3s ease;
    font-size: 28px;
  }

  .social-links a:hover, .social-links a:focus {
    color: #007bff; 
    transform: scale(1.1); /* Scale the icon on hover */
    transition: color 0.3s ease, transform 0.3s ease;
  }

/*Project content view project button styling*/
  .project a {
    display: inline-block;
    padding: 5px 5px;
    background-color: rgb(101, 101, 202);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .project a:hover {
    background-color: rgb(14, 243, 22);
    transform: translateY(-2px);
  }

  /* Contact me Styling */
  #contact {
    padding: 40px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  #contact h2 {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  #contactForm {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Creates space between form elements */
  }
  
  #contactForm input, #contactForm textarea {
    padding: 15px;
    border: none;
    border-radius: 10px;
    outline: none; 
    transition: box-shadow 0.3s;
  }
  
  #contactForm input:hover, #contactForm textarea:hover {
    box-shadow: 0 0 9px 5px #eeff00;
    transition: box-shadow 0.3s;
  }
  #contactForm button {
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #contactForm button{
    background-color: #1ab3e2;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase; 
    letter-spacing: 1px;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.3s;

  }
  #contactForm button:hover {
    background-color: #0bfb1b;
   
    transition: background-color 0.3s, transform 0.3s;
  }

#msg {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
  }
  